{% assign nav = site.menu | sort:"position" %}
{{nav}}
<header class="{%if page.title == 'Home' or page.title == 'Who we are' %}absolute{% endif %}{%if page.title == 'Portfolio' or page.title == 'Case Studies' %}cream{% endif %}">
  <div class="wrapper header">
    <div class="flex mobile">
      <div class="left">
        <a href="/">
          {% include logo.html %}
        </a>
      </div>
      <div class="right">
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <ul class="flex menu">
          {% for items in nav %}
            <li><a href="{{items.Link}}">{{items.title}}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="mobile-menu">
    <ul>
      {% for items in nav %}
        <li><a href="{{items.Link}}">{{items.title}}</a></li>
      {% endfor %}
    </ul>
  </div>
</header>
