$breakpoints: (
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);
@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}
@mixin flex($width, $justify) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;

  @include mq('desktop') {
    flex-direction: row;
  }
}


$colors: (
  "dark": #030323,
   "cream": #F6F6EC,
   "light": #6ED3CC,
   "white": #fff
);

.flex {
  @include flex (50%, space-between);

  &.flip {
    @include mq('desktop') {
      flex-direction: row-reverse;
    }
  }

  &.together {
    justify-content: unset;

    & > * {
      margin-right: 20px;
    }
  }
}

.fifty {
  @include mq('desktop') {
    max-width: 50%;
    width: 50%;
    padding-right: 10%;
  }
}

.quarter {
  @include mq('desktop') {
    max-width: 26%;
    width: 26%;
  }
}

.fifth {
  @include mq('desktop') {
    max-width: 20%;
    width: 20%;
  }
}

.block {
  background-color: map_get($colors, 'cream');
  padding-left: 20px;
  padding-top: 20px;
  position: relative;
  z-index: 1;

  @include mq('desktop') {
    max-width: 50%;
    width: 50%;
    padding-right: 10%;
    padding-bottom: 30vw;
  }
}

.space {
  padding-top: 100px;
  padding-bottom: 50px;
}

.wrapper {
  width: 94%;
  margin-left: auto;
  margin-right: auto;

  @include mq('desktop') {
    width: 96%;
  }

  &.extra {
    @include mq('desktop') {
      width: 70%;
    }
  }
}

h1 {
  font-family: 'Gotham';
  font-weight: 200;

  &.mega {
    font-family: 'Dala Floda Roman';
    font-size: 170px;
    line-height: 0.5;
  }
}

h2 {
  font-family: 'Gotham';
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 200;
}

h3 {
  font-family: 'Big Caslon';
  font-weight: 200;
}

p {
  font-family: 'Gotham';
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;

  &.serif {
    font-family: 'Big Caslon';
    font-weight: 200;
  }

  &.large {
    font-size: 24px;
    font-weight: 200;
    line-height: 1.3;

    @include mq('desktop') {
      font-size: 37px;
    }
  }

  &.large.serif {
    font-size: 26px;

    @include mq('desktop') {
      font-size: 40px;
    }
  }
}

.list {
  ul {
    li {
      font-family: 'Big Caslon';
      font-size: 24px;
      font-weight: 200;
      color: #fff;
      border-bottom: 1px solid #fff;
      display: block;
      width: max-content;

      @include mq('desktop') {
        font-size: 50px;
      }
    }
  }
}

.num {
  margin-right: 10px;
  width: 30%;

  h1 {
    font-family: 'Dala Floda Roman';
    font-variant-numeric: lining-nums;
    font-size: 170px;
    line-height: 0.9;
    margin-bottom: 0;
    color: map_get($colors, 'dark');
  }
  p {
    margin-top: -20px;
    color: map_get($colors, 'dark');

    .small & {
      margin-top: -10px;
    }
  }
}

body {
  background-color: map_get($colors, 'dark');
  font-family: 'Gotham';

  &.portfolio {
    background-color: map_get($colors, 'cream');
  }
}

header {
  padding-top: 20px;
  padding-bottom: 20px;

  &.cream {
    background-color: map_get($colors, 'cream');

    svg {
      path {
        fill: map_get($colors, 'dark');
      }
    }

    ul {
      li {
        color: map_get($colors, 'dark');
      }
    }
  }
}

section, footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

header {
  ul {
    li {
      margin-right: 10px;
      line-height: 1;
      color: map_get($colors, 'white');
    }
  }

  &.absolute {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
  }
}

.texture {
  width: 100%;
  height: auto;
}

.ew-home-top {
  min-height: 100vh;
  background-color: black;
  position: relative;
  z-index: 0;
  overflow: hidden;

  &.blue {
    background-color: map_get($colors, "dark");
  }
}

.ew-home-video {
  height: 100vh;
  width: 100%;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
  }
}

.ew-home-text {
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  min-height: 50vh;
  z-index: 10;

  p {
    color: map_get($colors, 'white');
    margin-bottom: 0;
    padding-bottom: 10px;
  }
}

.ew-home-intro, .ew-experts {
  h1, h2, p {
    color: map_get($colors, 'white');
  }
}

.ew-where-we-work {
  position: relative;

  h2 {
    color: map_get($colors, 'white');
  }
}

.ew-texture {
  position: absolute;
  top: 20vh;
  z-index: 0;

  &.portfolio {
    svg {
      path {
        stroke: map_get($colors, 'dark');
      }
    }
  }
}

.flip + .ew-image + .ew-texture {
  left: auto;
  right: 0;
}

.flip + .ew-image  img {
  margin-left: unset;
  margin-right: auto;
}

.flip .block {
  margin-left: 5%;
}

.ew-image {
  position: relative;
  z-index: 1;
  @include mq('desktop') {
    margin-top: -30vw;
  }

  img {
    width: 95%;
    height: auto;
    margin-left: auto;
    display: block;
  }

  iframe {
    height: 85vh;
  }
}

.ew-how {
  p {
    color: map_get($colors, 'white');
  }
}

.ew-experts {
  .flex {
    margin-top: 80px;
    padding-bottom: 80px;
  }
}

.ew-press {
  background-color: map_get($colors, 'cream');
  padding-top: 80px;

  h1, h2, p {
    color: map_get($colors, 'dark');
  }
}

.ew-projects {
  h1 {
    color: map_get($colors, 'dark');
  }
}

footer {
  h2 {
    color: map_get($colors, 'white');
    margin-bottom: 0px;
  }

  &.cream {
    background-color: map_get($colors, 'cream');
    h2 {
      color: map_get($colors, 'dark');
    }

    svg {
      path {
        fill: map_get($colors, 'dark');
      }
    }
  }
}
