$breakpoints: (
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);
@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}
@mixin flex($width, $justify) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  flex-wrap: wrap;

  @include mq('desktop') {
    flex-direction: row;
  }
}

@mixin underline($color){
  &:hover {
    &:after {
      width: 100%;
    }
  }

  &:after {
    width: 0;
    height: 1px;
    background-color: $color;
    display: block;
    content: '';
    margin-top: 5px;
    transition: all ease-in-out 0.5s;
  }
}


$colors: (
  "dark": #030323,
   "cream": #F6F6EC,
   "light": #6ED3CC,
   "white": #fff
);

.ew-logo {
  width: 170px;
  height: auto;
}

.flex {
  @include flex (50%, space-between);

  &.mobile {
    flex-direction: row;
  }

  &.flip {
    @include mq('desktop') {
      flex-direction: row-reverse;
    }
  }

  &.together {
    justify-content: unset;

    & > * {
      margin-right: 20px;
    }
  }

  &.portfolio-wrapper {
    justify-content: flex-start;

    & > * {
      margin-right: 0.5%;

      &:nth-child(3n+3){
        margin-right: 0;
      }
    }
  }
}

.mobile-menu {
  height: 100vh;
  position: fixed;
  background-color: map_get($colors, 'dark');
  width: 100%;
  z-index: 10;
  top: 0;
  padding-left: 10px;
  pointer-events: none;
  opacity: 0;
  padding-top: 150px;
  transition: all ease-in-out 0.2s;

  &.clicked {
    pointer-events: all;
    opacity: 1;
  }

  ul {
    li {
      color: map_get($colors, 'cream') !important;
      font-family: 'Dala Floda Roman';
      font-weight: 200;
      font-size: 70px;
      width: max-content;
      text-transform: none;
      letter-spacing: 0;

      @include mq('desktop') {
        font-size: 40px;
      }
    }
  }
}

.menu {
  display: none;
  @include mq('desktop') {
    display: flex;
  }
}

.header {
  &.clicked {
    position: relative;
    z-index: 2000;

    svg {
      path {
        fill: map_get($colors, 'cream');
      }
    }
  }
}

.hamburger {
  display: block;
  @include mq('desktop') {
    display: none;
  }

  .who-we-are &, .project &, .contact &, .home & {
    span {
      background-color: #fff;
    }
  }

  &.clicked {
    z-index: 2000;
    position: relative;

    span {
      background-color: map_get($colors, 'cream');

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(1) {
        transform: rotate(45deg) translateY(11px) translateX(12px);
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }

  span {
    width: 30px;
    height: 3px;
    background-color: map_get($colors, 'dark');
    margin-bottom: 5px;
    display: block;
    transition: all ease-in-out 0.2s;
  }
}

.fifty {
  @include mq('desktop') {
    max-width: 50%;
    width: 50%;
    padding-right: 10%;
  }
}

.quarter {
  @include mq('desktop') {
    max-width: 26%;
    width: 26%;
  }
}

.third {
  @include mq('desktop') {
    max-width: 33%;
    width: 33%;
  }
}

.fifth {
  @include mq('desktop') {
    max-width: 20%;
    width: 20%;
  }
}

.block {
  background-color: map_get($colors, 'cream');
  padding-top: 20px;
  position: relative;
  z-index: 1;
  width: 92.3%;
  padding-left: 10px;
  padding-bottom: 20vh;

  @include mq('desktop') {
    width: 100%;
    padding-left: 20px;
    padding-bottom: unset;
  }


  @include mq('desktop') {
    max-width: 50%;
    width: 50%;
    padding-right: 10%;
    padding-bottom: 30vw;
  }
}

.space {
  padding-top: 100px;
  padding-bottom: 50px;
}

.wrapper {
  width: 94%;
  margin-left: auto;
  margin-right: auto;

  @include mq('desktop') {
    width: 96%;
  }

  &.extra {
    @include mq('desktop') {
      width: 70%;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

h1 {
  font-family: 'Gotham';
  font-weight: 200;

  &.mega {
    font-family: 'Dala Floda Roman';
    font-size: 70px;
    line-height: 1;

    @include mq('desktop') {
      font-size: 170px;
      line-height: 0.7;
    }
  }
}

h2 {
  font-family: 'Gotham';
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 200;
}

h3 {
  font-family: 'Big Caslon';
  font-weight: 200;
}

p {
  font-family: 'Gotham';
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;

  &.serif {
    font-family: 'Big Caslon';
    font-weight: 200;
  }

  &.large {
    font-size: 24px;
    font-weight: 200;
    line-height: 1.3;

    @include mq('desktop') {
      font-size: 37px;
    }
  }

  &.large.serif {
    font-size: 26px;

    @include mq('desktop') {
      font-size: 40px;
    }
  }
}

.list {
  margin-bottom: 30px;
  @include mq('desktop') {
    margin-bottom: 0;
  }
  ul {
    li {
      font-family: 'Big Caslon';
      font-size: 36px;
      font-weight: 200;
      color: #fff;
      display: block;
      width: max-content;
      cursor: pointer;
      @include underline(#fff);

      @include mq('desktop') {
        font-size: 50px;
      }
    }
  }
}

.num {
  margin-right: 10px;
  width: 50%;

  @include mq('desktop') {
    width: 30%;
  }

  &.full {
    width: 100%;

    p.large {
      line-height: 1;
      font-family: 'Dala Floda Roman';
      font-size: 37px;
      margin-bottom: 40px;
      width: 100%;

      @include mq('desktop') {
        font-size: 66px;
      }
    }

    p {
      font-size: 18px;
      width: 75%;
    }
  }

  h1 {
    font-family: 'Dala Floda Roman';
    font-variant-numeric: lining-nums;
    margin-bottom: 0;
    color: map_get($colors, 'dark');
    font-size: 100px;
    line-height: 1;

    @include mq('desktop') {
      font-size: 170px;
    }

  }
  p {
    margin-top: -20px;
    color: map_get($colors, 'dark');

    .small & {
      margin-top: -10px;
    }
  }
}

body {
  background-color: map_get($colors, 'dark');
  font-family: 'Gotham';

  &.portfolio {
    background-color: map_get($colors, 'cream');
  }
}

header {
  padding-top: 20px;
  padding-bottom: 20px;

  &.cream {
    background-color: map_get($colors, 'cream');

    svg {
      path {
        fill: map_get($colors, 'dark');
      }
    }

    ul {
      li {
        color: map_get($colors, 'dark');
      }
    }
  }
}

section, footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

header {
  ul {
    li {
      margin-right: 30px;
      line-height: 1;
      color: map_get($colors, 'white');
      text-transform: uppercase;
      font-size: 13px;
      letter-spacing: 2px;
      font-weight: 200;

      a {
        &:hover {
          color: inherit;
          text-decoration: none;
        }
      }

      &:hover {
        &:after {
          width: 100%;
        }
      }

      &:after {
        width: 0;
        height: 1px;
        background-color: #fff;
        display: block;
        content: '';
        margin-top: 5px;
        transition: all ease-in-out 0.5s;
      }
    }
  }

  &.absolute {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
  }
}

.texture {
  width: 100%;
  height: auto;
}

.ew-home-top {
  min-height: 100vh;
  background-color: black;
  position: relative;
  z-index: 0;
  overflow: hidden;

  &.blue {
    background-color: map_get($colors, "dark");
  }
}

.ew-home-video {
  height: 100vh;
  width: 100%;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
  }
}

.ew-home-text {
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  min-height: 50vh;
  z-index: 10;

  p {
    color: map_get($colors, 'white');
    margin-bottom: 0;
    padding-bottom: 10px;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0;
  }
}

.home-strap {
  opacity: 0;
  animation-name: fadein;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transition: all ease-in-out 0.5s;

  &.hide {
    opacity: 1;
    animation-name: fadeout;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }
}

.welcome-text {
  position: absolute;
  top: 27%;
  transform: translateY(-50%);
  opacity: 0;

  &.show {
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }

  h1 {
    color: #fff;
    font-family: 'Dala Floda Roman';
  }
}

.ew-home-intro, .ew-experts {
  h1, h2, p {
    color: map_get($colors, 'white');
  }
}

.ew-where-we-work {
  position: relative;

  h2 {
    color: map_get($colors, 'white');
  }
}

.ew-texture {
  position: absolute;
  top: 20vh;
  z-index: 0;

  &.portfolio {
    svg {
      path {
        stroke: map_get($colors, 'dark');
      }
    }
  }
}

.flip + .ew-image + .ew-texture {
  left: auto;
  right: 0;
}

.flip + .ew-image  img {
  margin-left: unset;
  margin-right: auto;
}

.flip .block {
  margin-left: 5%;
}

.project-image-wrapper {
  position: relative;

  .project-info {
    position: absolute;
    z-index: 10;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    opacity: 0;
    transition: all ease-in-out 0.5s;
  }
}

.ew-image {
  position: relative;
  z-index: 1;
  margin-top: -30vw;
  @include mq('desktop') {
    margin-top: -30vw;
  }

  &.map {
    background-color: map_get($colors, 'dark');
  }

  video {
    width: 100%;
    height: 400px;
    display: block;
    object-fit: cover;

    @include mq('desktop') {
      height: auto;
      width: 100%;
    }
  }

  img {
    width: 100%;
    height: 400px;
    margin-left: auto;
    display: block;
    object-fit: cover;

    @include mq('desktop') {
      height: auto;
      width: 95%;
    }
  }

  iframe {
    height: 85vh;
  }
}

.ew-how {
  p {
    color: map_get($colors, 'white');
  }
  a {
    border-bottom: 1px solid #fff;
    padding-bottom: 8px;
  }
}

.ew-experts {
  .flex {
    margin-top: 20px;
    padding-bottom: 80px;

    @include mq('desktop') {
      margin-top: 80px;
    }
  }
}

.ew-press {
  background-color: map_get($colors, 'cream');
  padding-top: 80px;

  h1, h2, p {
    color: map_get($colors, 'dark');
  }
}

.ew-projects {
  h1 {
    color: map_get($colors, 'dark');
    margin-bottom: 120px;
  }

  .types {
    margin-bottom: 80px;

    li {
      h2 {
        margin-bottom: 10px;
      }
      &.show {
        border-bottom: 1px solid map_get($colors, 'dark');
        padding-bottom: 0;
      }
    }
  }
}

.zero-projects {
  margin-top: -50px;
  margin-bottom: 50px;
  display: none;
  font-size: 20px;

  &.show {
    display: block;
  }
}

.portfolio-card {
  margin-bottom: 8px;
  position: relative;

  @include mq('desktop'){
    max-height: 252px;
    overflow: hidden;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:hover {
    .project-info {
      opacity:1;
    }
  }

  h2 {
    margin-bottom: 0;
    margin-top: 20px;
    color: map_get($colors, 'white');
    margin-left: 10px;
  }
  p {
    text-transform: capitalize;
    margin-top: 0px;
    color: map_get($colors, 'white');
    margin-left: 10px;
  }
  a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
  }

  &.hide {
    opacity: 0.1;
    pointer-events: none;
  }

  &.show {
    opacity: 1 !important;
    pointer-events: all;
  }
}

.location {
  position: absolute;
  left: 10px;
  bottom: 10px;
  @include mq('desktop'){
    position: relative;
    top: unset;
    bottom: unset;
  }
}

.location-tracker {
  width: 225px;
  height: 3px;
  background-color: rgba(255,255,255,0.5);
  margin-bottom: 30px;
}

.location-inner {
  width: 0%;
  height: 3px;
  background-color: #fff;
  transition: all ease-in-out;
}

.press-card {
  display: flex;
  flex-direction: column;
  position: relative;

  a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
}

@mixin responsive-ratio($x,$y, $pseudo: false) {
    $padding: unquote( ( $y / $x ) * 100 + '%' );
    @if $pseudo {
        &:before {
            @include pseudo($pos: relative);
            width: 100%;
            padding-top: $padding;
        }
    } @else {
        padding-top: $padding;
    }
}

.press-image {
  min-height: 65.4vh;

  img {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
  }
}

footer {
  h2 {
    color: map_get($colors, 'white');
    margin-bottom: 0px;
    margin-top: 10px;
  }

  .fifth {
    margin-bottom: 20px;
  }

  small {
    color: map_get($colors, 'cream');
    line-height: 1.2;
    display: block;
    margin-top: 30px;
  }

  svg {
    margin-bottom: 10px;
  }

  &.cream {
    background-color: map_get($colors, 'cream');
    h2 {
      color: map_get($colors, 'dark');
    }

    svg {
      margin-bottom: 20px;
      path {
        fill: map_get($colors, 'dark');
      }
    }
  }
}

.ew-project-images {

  &.cream {
    background-color: map_get($colors, 'cream');
  }

  .flex {
    align-items: flex-start;

    .fifty {
      margin-bottom: 20px;
      @include mq('desktop') {
        width: 50%;
        height: auto;
        padding-right: 2%;
        margin-bottom: 2%;
      }
    }
  }
}


.locator-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  z-index: 100000;
}

.portfolio-image-wrapper {
  height: 440px !important;
  @include mq('desktop'){
    width: 48% !important;
  }

  img {
    width: 100% !important;
    height: 100%;
    object-fit: cover;
  }
}
